# Cloudflare configuration
CLOUDFLARED_TOKEN=change_me

# MongoDB configuration
MONGO_USER=change_me
MONGO_PASSWORD=change_me
MONGO_DB=change_me

# DiskIO configuration
DISKIO_PATH=change_me
DISKIO_SIZE=change_me
DISKIO_DEPTH=change_me